* {
    font-family:'Poppins', sans-serif;
}

h5{
    background-color: red;
}

body { 
    height:100vh;
    background-color: beige !important;
    background-image: linear-gradient(to top right, rgb(67, 150, 92), rgb(62, 201, 85));
}

.adminFormDiv {
    min-width: 550px;
    width:30%;
    height:50%;
    background-color: white !important;
}

.createRunnerformDiv {
    min-width: 550px;
    width:30%;
    height:70%;
    background-color: white !important;
}

.formTitle {
    margin:5%;
    font-size:24px;
    font-family:'Poppins', sans-serif;
}

form {
    width:65%;
}

.logAdminInput input {
    border:none;
    background-color: gainsboro;
    border-radius:8px;
    width:100%;
    padding:4% 0 4% 2%;
}

.runnerInput input {
    border:none;
    background-color: gainsboro;
    border-radius:8px;
    width:100%;
    padding:3% 0 3% 2%;
}

.runnerInput select {
    border:none;
    background-color: gainsboro;
    border-radius:8px;
    width:100%;
    padding:3% 0 3% 2%;
}

.submitLogAdminButton {
    background-image: linear-gradient(to top right, rgb(67, 150, 92), rgb(62, 201, 85));
    color:white;
    border:none;
    width:75%;
    padding:4% 0 4% 2%;
    margin-left:13%;
}

.submitLogAdminButton:focus {
    opacity:0.7;
}

/*página principal administrador*/

a {
    text-decoration: none;
    color:gray;
}

.adminLinks {
    width: 30%;
    height:100%;
}

.sectionTitle {
    font-size:48px;
    font-weight: bolder;
}

.sectionDiv {
    max-height:320px;
    height:100%;
    background-color: white;
    padding:7%;
    padding:5% 25% 5% 25%;
}

.coursesImg {
    width:135%;
}

.runnersImg {
    width:100%;
}

.sponsorsImg {
    width:100%;
}